.links {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 12pt;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 13pt;
  }

  display: grid;
  height: 3rem;
  padding-left: 1rem;
  place-items: center start;
}

.link {
  color: black;
  opacity: 65%;
  text-decoration: none;

  // Transition
  transition-duration: 300ms;
  transition-property: opacity;

  &:hover {
    opacity: 100%;
  }
}
